body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container, .menu-container, .content-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

h1 {
    text-align: center;
}

form, nav, .content-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button, nav ul li {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

#scoreList {
    list-style: none;
    padding: 0;
}

